body {
  margin: 0px;
  background-color: #f5f6fa;
}

.main {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 648px;
  border: none;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.content-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
}

.product-view {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: right;
  border-radius: 15px;
  background-color: #c1b5f6;
}

.product-image {
  margin-right: auto;
  margin-left: 150px;
  width: 270px;
}

.discount-label {
  border: none;
  border-radius: 5px;
  background-color: #5a3fc0;
  font-weight: 400;
  color: #f3f0ff;
  margin-top: 12px;
  margin-right: 24px;
  margin-bottom: 355px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-action {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 600px;
}

.product-name {
  display: block;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: auto;
  color: #0d0d26;
}

.rating-box {
  display: flex;
  margin-bottom: 24px;
}

.rating-star {
  width: 100px;
  height: 20px;
  margin-left: 12px;
  margin-right: 12px;
}

.reviews {
  margin: 0px;
  margin-top: 3px;
  font-size: 14px;
  font-weight: lighter;
  color: #6b7280;
}

.description {
  margin: 0px;
  margin-left: 12px;
  font-size: 16px;
  color: #6b7280;
}

.price-box {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
}

.discount {
  margin: 0px;
  margin-left: 12px;
  font-size: 32px;
  font-weight: bold;
  color: #5a3fc0;
}

.MRP {
  margin: 0px;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: auto;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: lighter;
  color: #6b7280;
}

.btn {
  display: flex;
  justify-content: center;
  width: 576px;
  margin-left: 12px;
  margin-bottom: 24px;
  border: none;
  border-radius: 15px;
  background-color: #5a3fc0;
}

.shopping-cart {
  margin: 12px;
  width: 25px;
}

.text-btn {
  margin: 12px;
  font-size: 20px;
  font-weight: bolder;
  color: #f5f6fa;
}
