body {
  margin: 0px;
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1,
h2,
span,
p {
  margin: 0px;
  line-height: 1;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main-txt {
  color: #f7f8f9;
}

.sub-txt {
  color: #d5d5d9;
}

.txt-gold {
  color: #ba9555;
}

.txt-golddark {
  background: linear-gradient(to bottom, #ba9555, #634b22);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-black {
  background-color: rgb(08, 08, 08);
}

.bg-green {
  background: linear-gradient(to bottom, rgb(48, 88, 28), rgb(0, 32, 8));
}

.bg-red {
  background: linear-gradient(to bottom, rgb(172, 14, 10), rgb(94, 17, 20));
}

.border-1px {
  border: 1px solid rgb(186, 149, 85);
}

.border-2px {
  border: 2px solid rgb(186, 149, 85);
}

.shadow-border {
  box-shadow: 0px 0px 5px rgb(186, 149, 85);
}

main {
  width: 1000px;
  height: 600px;
  display: block;
  margin: 25px auto;
  border-radius: 10px;
  background-image: url(assets/images/bg-img.png);
  background-size: cover;
  padding: 20px 30px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.title {
  font-size: 35px;
  font-weight: 800;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  border-radius: 5px;
  padding: 5px 30px;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  width: 0px;
  height: 15px;
  margin: 0px 50px;
}

.profile-title {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.profile-info {
  font-size: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  width: fit-content;
  display: flex;
  align-items: center;
}

.heading div {
  width: 20px;
  height: 0px;
}

.heading span {
  margin: 0px 5px;
  font-size: 16px;
  font-weight: bold;
}

.cards {
  width: 700px;
  height: 100px;
  margin: 5px 0px 20px 0px;
  display: flex;
  align-items: center;
  border-style: dashed;
  border-radius: 20px;
  background-color: rgba(0, 32, 8, 50%);
  padding: 10px 0px;
}

.card {
  display: block;
  margin: 0px auto;
  font-size: 50px;
  font-weight: 700;
}

.total-window {
  width: 200px;
  margin: 5px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 0px;
}

.message {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 0px;
}

#total-el {
  font-size: 35px;
  font-weight: bold;
}

#message-el {
  font-size: 16px;
}

.btn-wrapper {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 49%;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.1s;
  padding: 15px 0px;
}

.btn:active {
  transform: scale(0.95);
}
