.main {
  display: flex;
  margin-top: 124px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.50);
  width: 680px;
}


.profile {
  display: block;
  border: 1px solid #efedfa;
  width: 280px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  background-color: #efedfa;
}

.profile-pic {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #00021a;
}

.bio {
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #5a3fc0;
}

.devider {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 70px;
  border: 1px solid #5a3fc0;
}

.about {
  display: block;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 16px;
  color: #41464c;
}

.contact {
  display: block;
  width: 400px;
}

.contact-label-wrapper {
  margin-top: 30px;
}

.contact-label {
  display: flex;
  margin-left: 40px;
  margin-right: 30px;
}

.icon {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
}
.info {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.info-heading {
  font-size: 16px;
  font-weight: bold;
  color: #5a3fc0;
}

.info-details {
  font-size: 16px;
  color: #41464c;
}

.social-platforms {
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}